@media (max-width: 1280px) {
  .image-gallery-thumbnail {
    flex: 1 1 0%;
    width: min-content;
  }

  .image-gallery-thumbnails-container {
    display: flex;
    gap: 10px;
  }
}

.image-gallery-thumbnail {
  margin: 0;
  border: 0;
  transition: none;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 4px black solid;
  border-radius: 15px;
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: 4px solid black;
  }
}
