@import url("https://db.onlinewebfonts.com/c/e5cf4323214de97c3428d64ece016410?family=Integral+CF");
@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-integral: "Integral CF", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  --color-custom-gray: rgba(242, 240, 241, 1);
}

svg {
  display: inline-block;
}
